/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
/*content color = #eae7d2*/
/*topbar color = #51473d*/
/*tmenu normal color = #797066*/
/*tmenu nmouseover color = #9c9084*/
/*container color = #51473d*/
/*text color = #797066*/


#container
{
    margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto;
    width: 600px; height:auto;
    background-color:#51473d;
}

#topbar
{
    font-family:Verdana;
    font-style:oblique;
    font-size:10px;
    color:#eae7d2;
    float:right;
    padding:4px;
}

#menu
{
    clear:both;
}

#content
{
    color:#797066;
    background-color:#eae7d2;
}

#maincontent
{
    font-family:sans-serif;
    font-size:15px;
    text-align:left;
    width:320px; height:auto;
    float:left;
    margin-left:10px;
    border-right:1px dashed #797066;
    padding-right:8px;
}

#subcontent
{
    font-family:sans-serif;
    font-size:13px;
    float:left;
    width:240px;
    height:auto;
    margin-left:10px;
    color:#797066;
}

#bottomcontent
{
    font-family:sans-serif;
    font-size:12px;
    clear:both;
    color:#797066;
    margin-left:10px;
    margin-bottom:20px;
}

/*skip navigation till bild*/
[href = "#maincontent"]
{
    font-size:0;
    display: block;
    background-position:center;
    background-repeat:no-repeat;
    height:200px;
    width:600px;
    background:url('pics/coffey.jpg');
    margin-bottom:5px;
}

/*Menu som är horisontel*/
ul
{
list-style-type:none;
margin:0;
padding:0;
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:4px;
margin-left:20px;
}
li
{
display:inline;
}

h1
{
    font-family:serif;   
}

h2
{
    font-family:serif;
    font-size:14px;
}

#menu ul li a:link,a:visited
{
    font-family:"Verdana";
    color:#eae7d2;
    background-color:#797066;
    text-align:center;
    padding:6px 6px 6px 6px;
    text-decoration:none;
}
#menu ul li a:hover,a:active
{
    background-color:#9c9084;
}

#menu a
{
    font-size:14px;
}

.active a
{
    color:#51473d;
    background-color:#eae7d2;
    text-align:center;
    padding:6px;
    text-decoration:none;
}
#subcontent a
{
    color:#51473d;
    font-size:14px;
}

div img 
{
    float:left;
    margin-right:5px;
}