/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
/*content color = #eae7d2*/
/*topbar color = #51473d*/
/*tmenu normal color = #797066*/
/*tmenu nmouseover color = #9c9084*/
/*container color = #51473d*/
/*text color = #797066*/


#container
{
    margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto;
    width: 1200px; height:auto;
    background-color:#51473d;
}

#topbar
{
    color:#51473d;
    float:right;
}

#menu
{
    clear:both;
}

#content
{
    color:#797066;
}

#maincontent
{
    float:left;
}

#subcontent
{
    color:#797066;
}

#bottomcontent
{
    color:#FFFFFF;
}

/*skip navigation till bild*/
[href = "#maincontent"]
{
    display: block;
    background-position:center;
    background-repeat:no-repeat;
    height:200px;
    width:600px;
    background:url('pics/coffey.jpg');
}

/*Menu som är horisontel*/
ul
{
list-style-type:none;
margin:0;
padding:0;
padding-top:6px;
padding-bottom:6px;
}
li
{
display:inline;
}

ul li a:link,a:visited
{
font-family:"Verdana";
color:#eae7d2;
background-color:#797066;
text-align:center;
padding:6px;
text-decoration:none;
}
ul li a:hover,a:active
{
background-color:#9c9084;
}

.active
{
    color:#51473d;
    background-color:#eae7d2;
    text-align:center;
    padding:6px;
    text-decoration:none;
}